/*
  NOTE

	This file should only contain css related to the grid
	just widths, margins and vertical spacing.

*/

.g {
	width: 100%;
	lost-flex-container: row;

	> * {
		width: 100%;
	}
}

.g--ng {
	> * {
		width: 50%;
		flex-basis: 50%;
	}
}

// .g__1 {
// }

/*
  Footer grid modification
*/

// .g--footer {
// }

.g--gutter {
	.g__1-2 {
		lost-column: 1/2 2 gutter(1) flex;
	}
	.g__1-3 {
		lost-column: 1/3 3 gutter(1) flex;
	}
	.g__2-3 {
		lost-column: 2/3 3 gutter(1) flex;
	}
}

.gm__1-2 {
	lost-column: 1/2;
}

.gm__1-3 {
	lost-column: 1/3;
}

@include breakpoint(small) {
	.g--gutter {
		.gs__1-2 {
			lost-column: 1/2 2 gutter(1) flex;
		}
	}
}

@include breakpoint(medium) {
	.gm__ac {
		align-items: center;
	}

	.g--gutter {
		.gm__1-2 {
			lost-column: 1/2 2 gutter(1.5);
		}
	}

	.gm__1-2 {
		lost-column: 1/2;
	}
}

@include breakpoint(large) {
	.g--gutter {
		.gl__1-3 {
			lost-column: 1/3 3 gutter(1.5);
		}
	}

	.gl__1-3 {
		lost-column: 1/3 0 0 flex;
	}
}
