// ==========================================================================
// COLOR PALETTE FUNCTION
// ==========================================================================
// Example:
//
// a {
//     color: palette(global, primary);
//     background: palette(grey, light);
// }
//

$palettes: (
	black: (
		base: #333333
	),
	blue: (
		base: #0476D9
	),
	white: (
		base: #ffffff
	),
	grey: (
		light: #eaeaea,
		base: #5f5f5f,
		dark: #3a3a3a
	),
	global: (
		primary: #eaeaea,
		secondary: #5f5f5f,
		tertiary: #3a3a3a
	)
) !global;

@function palette($palette, $tone: 'base') {
	@return map-get(map-get($palettes, $palette), $tone);
}

.color--blue {
	color: palette(blue); 
}